/* header */
header {
	height: 100vh;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
	position: relative;
}

.header_video,
.header_video > video {
	object-fit: cover;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.header_video:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.menu {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .menu_links ul {
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
}

.menu_links li {
	padding: 1.6rem;
}

.menu_links li a {
	color: #acacba;
}

.menu_links li a:hover {
	color: #fff;
}

.info {
	text-align: center;
	padding: 3rem;
}

.info .info_title {
	margin-bottom: 2rem;
	font-size: 1.8rem;
	text-transform: uppercase;
}

.info .info_heading {
	font-size: 8rem;
	margin-bottom: 2rem;
}

.info .info_explain {
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

.info .info_btn {
	padding: 1.8rem 4.6rem;
	font-size: 1.8rem;
	border-radius: 0.5rem;
	outline: none;
	border: 0;
	cursor: pointer;
	background-color: #03aef8;
}

.arrow a {
	color: #acacba;
}

.info .info_btn,
.arrow a:hover {
	color: #fff;
}

.info .info_btn:hover {
	background-color: #079cdd;
}

/* header-end */